<ul id='header_list'>
<% if !current_user %>
<li>Login<ul id='login_list'>
<li>Username:</li>
<li>Password:</li></li>
</ul>
<li>Register</li>
<% else %>
<li>Sign Out</li>
<% end %>
<li></li>


#header_list {
  background-color: gray;
  list-style-type: none;
  overflow: hidden;
}

#header_list li {
  float: left;
  padding: 15px;
}

#header_list li:hover {
  color:;




</ul>
