* {
  margin: 0;
  padding: 0;
  font-family: serif;
}

body {
  background-color: white;
}

#homepage_form {
  font-size: 30px;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px #ccc inset;
  text-align: center;
  border-radius: 5px;
}

#homepage_div {
  margin: auto;
}

#formy {
  margin: auto;
}

#container {
  max-width: 1000px;
  min-height: 600px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  border-left: 5px solid gray;
  border-right: 5px solid gray;

}

.event_table {
  margin: 20px;
  border: 1px solid green;
  margin: auto;
  width: 80%;
  height: 100px;
}


.event_table td {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

#hi {
  text-align: center;
}




.list_of_events {
  margin: auto;
  text-align: center;
}


.event_div {
  display: inline-block;
  width: 45%;
  box-sizing: border-box;
  border-radius: 25%;
  border: 2px solid green;
}

.center {
  text-align: center;
}

.event_title {
  padding: 25px;
  text-shadow: 1px 1px gray;
}

.img_center {
  display: block;
  margin: 0 auto;
  width: 70%;
  opacity: .75;
}

.div_center {
  text-align: center;
  margin: auto;
}

.ticket_info_button {
  padding: 15px;
  border: 1px solid red;
}

.ticket_info_div {
  position: fixed;
  width: 30%;
  min-width: 400px;
  height: 200px;
  box-shadow: 2px 2px 2px 2px #ccc inset;
  border-radius: 10px;
  background-color: white;
  left: 35%;
  top: 40%;
  display: none;
  z-index: 2;
  text-align: center;
}

.ticket_info_div table {
  margin: 30px;
}

.ticket_cancel {
  margin: auto;
}

#new_user_form input {
  font-size: 1.5em;
  margin: 5px;
  padding: 2px;
  box-shadow: 2px 2px 2px 2px #ccc inset;
  border-radius: 2px;
  outline: none;
}

#registration_div {
  position: fixed;
  width: 30%;
  min-width: 400px;
  height: 600px;
  box-shadow: 2px 2px 2px 2px #ccc inset;
  border-radius: 10px;
  background-color: white;
  left: 35%;
  top: 10%;
  display: none;
  z-index: 2;
}

#registration_div input {
  padding: 10px;
  width: 75%;
}

#registration_submit {
  background-color: black;
  color: white;
}

#registration_submit:hover {
  background-color: gray;
}

#dimmer_div {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  opacity: .2;
  display: none;
  z-index: 1;
}

.required {
  color: red;
  position: relative;
  top: -15px;
}

.hidden {
  color: transparent;
}

.errors {
  color: red;
  font-size: 1.5em;
  padding: 10px;
}

.event_header_div {
  height: 100px;
}
