#header {
  height: 50px;
  background-color: black;
  color: white;
}


#header input {
  color: black;
  font-size: 1em;
}

#header a, #header a:visited {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  padding: 10px;
}



#header a:hover {
  color: gray
}



#header_greeting {
  font-size: 1.6em;
  padding: 12px;
}

#logout_button {
     background: transparent;
     border:none;
     font: inherit;
     cursor: pointer;
     color: white;
     text-decoration: none;
     outline: none;
}



#home_link {
  position: absolute;
  left: 40%;
}



#footer {
  background-color: black;
  height: 60px;
  width: 100%;
}

#header_div {
  background-color: black;
}

#header_div td {
  padding: 15px;
  color: white;
}

#header_div a {
  color: white;
  text-decoration: none;
}


.login_form {
  color: red;
  display: none;
}

.login_form input {
  color: black;
  padding: 5px;
}

.login_form .log_sub_but:hover {
  color: red;
}

.login_form .log_sub_but {
  width: 100%;
}

#login_form_div {
  display: inline-block;
  position: absolute;
  left: 71px;
}

#login_td {
  cursor: pointer;
}

#header_div td:hover {
  background-color: gray;
}

.active {
  background-color: gray;
}

.hello_user {
  position: absolute;
  right: 0px;
}
