#header {
  height: 50px;
  background-color: black;
  color: white;
}


#header input {
  color: black;
  font-size: 1em;
}

#header a, #header a:visited {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  padding: 10px;
}

#create_account_link {
  position: absolute;
  right: 0;
  top: 0;
}

#header a:hover {
  color: gray
}

#login_form input {
  margin: 5px;
  padding: 5px;
}

#header_greeting {
  font-size: 1.6em;
  padding: 12px;
}

#logout_button {
     background: transparent;
     border:none;
     font: inherit;
     cursor: pointer;
     position: absolute;
     right: 0;
     top: 0;
     color: white;
     text-decoration: none;
     font-size: 1.6em;
     position: absolute;
     right: 0;
     top: 0;
     padding: 15px;
     outline: none;
}

#logout_button:hover {
  color: black;
  background: gray;
}

#home_link {
  position: absolute;
  left: 40%;
}

#header_profile {
  position: absolute;
  left: 60%;
}

#footer {
  background-color: black;
  height: 60px;
  width: 100%;
}



