<div id='login_form_div'>
  <form class='login_form' action='/sessions' method='post'>
    <input type='text' name='session[username]' placeholder='Username'><br>
    <input type='password' name='session[password]' placeholder='Password'><br>
    <input class='log_sub_but' type='submit' value='Log in'>
  </form>
</div>
