<form action='/users' method='post'>
  <input type='text' name='username' placeholder='username'>
  <input type='password' name='password' placeholder='password'>
  <input type='text' name='email' placeholder='email'>
  <input type='text' name='state' placeholder='state'>
  <input type='text' name='city' placeholder='city'>
  <input type='submit' value='Create Account'>
</form>
