<h1 class='center titan'>Hello, <%= current_user.username %></h1>

<div class='list_content_div'>
  <% if @list %>
  <%= erb :'/partials/_events', layout: false, locals: { list: @list} %>
  <% end %>
</div>
