<h1 class='center'>Hello, <%= current_user.username %>!</h1>

<h2 class='center'>Here are your watched events</h2>

<div class='list_content_div'>
  <% if @list %>
  <%= erb :'/partials/_events', layout: false, locals: { list: @list} %>
  <% end %>
</div>
