<h1 id='hi'>EventTracker</h1>


<div class='list_content_div'>
  <% if @list %>

    <%= erb :'/partials/_events', layout: false, locals: { list: @list} %>

  <% end %>
</div>


<div id='homepage_div'>
  <form id='formy' action='/' method='post'>
      <input id='homepage_form' type='text' name='event' placeholder='Enter event'>
  </form>
</div>
